*{
	font-family: sans-serif;
	box-sizing: border-box;
 	padding: 0;
 	margin: 0;
}
.wrapper{
	border-left: 2px dotted black;
	border-right: 2px dotted black;
	max-width: 1200px;
	margin-left: auto;
 	margin-right: auto;
}
.logo{
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 20px;
	display: inline-block; 
	padding-left: 30px;
}
.logo:hover {
 	opacity: 0.8;
}
span{
 	display: block;
 	text-align: center;
}
.header-nav{
  	text-align: left;
  	padding-left: 30px;
  	margin-top: 40px;
  	border-top: 4px solid black;
  	border-bottom: 4px solid black;
}
nav li{
 	display: inline-block;
}
.header-nav a {
 	font-size: 20px;
 	color: black;
 	padding: 10px 20px;
 	text-decoration: none;
 	display: inline-block;
}
.header-nav a:hover {
 	background-color:black; 
  	color: white;     
  	text-decoration:none ;   
}
.content{
 	padding: 30px;

}
.content img{
	max-width: 100%;
	display: inline-block;
}
h1{
  	font-size: 40px;
}
h2{
	font-size: 30px;
}
h1, h2, p{
	margin-top: 10px;
    margin-bottom: 10px;
}

p{
  	font-size: 22px;
}
footer {
	background-color: black;
	padding: 30px;
	text-align: center;	
	font-size: 12px;
}
.footer-nav li {
	color: white;
	display: inline-block;
	padding: 0px 10px;
}
.footer-nav a {
	color: white;
	display: inline-block;
	text-decoration: none;
}
.footer-nav a:hover {
	border-bottom: 1px dashed white;
}