
ol {
	color:#008000;
	text-align:left;
	font-size: 1.2em;
}
span {
	text-decoration: underline;
   	color:#000080;
}

a:hover {
    text-decoration: none;
}

figcaption{
	font-size: 1.2em;
}

.dog {
	text-align: left;
	border-left:4px dashed  #800080;
}
