*{
 font-family: sans-serif;
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 

}
body{
 background-color: LightGrey;
}
.wrapper{
 border-left: 3px solid  #d14eac;
 border-right: 3px solid  #d14eac;
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
 background-color: white;
}
header{
 text-align: center;
}
.logo {
 display: inline-block;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 40px;
 color: black;
}
.logo:hover {
 opacity: 0.7;
}
span{
 display: block;
}
.header-nav{
  text-align: left;
  background-color: black;
  padding-left: 50px;
  margin-top: 10px;
}
nav li{
 display: inline-block;
}
.header-nav a {
 font-size: 20px;
 color: white;
 padding: 10px 50px;
 text-decoration: none;
 display: inline-block;
}
.header-nav a:hover {
 background-color:#595959; 
  color: #f6f6f6;     
  text-decoration:none ;   
}
.content{
 padding: 50px;

}
.content img{
	max-width: 1200px;
	display: inline-block;
}
h1{
  font-size: 40px;
}
h2{
	font-size: 30px;
}
h1, h2, p{
	margin: 10px 0;
}

p{
 line-height: 30px;
  font-size: 20px;
}

footer {
	background-color: grey;
	padding: 50px;	
}
.footer-nav li {
	color: white;
}
.footer-nav a {
	color: white;
	display: inline-block;
	padding-left: 20px;
}
.footer-nav a:hover{
	text-decoration: none;

}